

body {
    margin: 0;
    background-color: #254655;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #3fe4c8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login,
.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a {
    width: 100%;
    margin: 0;
}
a .btn-login{
    margin:0;
}

.left-login > h1 {
    color: #000000;
}

.card-login {
    width: 100%; 
    max-width: 460px; 
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #254655;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: white;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%; 
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #59A5D8;
    color: #89b3d0;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    align-self: center;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.btn-login,
.btn-cadastro {
    width: 100%;
    max-width: 250px; 
    height: 50px;
    padding: 5px 0px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #c6d4ff;
    cursor: pointer;
    box-shadow: 0px 10px 30px -12px #ffffff52;
}

/* Estilo Cadastro */


/* Estilos Login */
#logo {
    max-width: 100%;
    height: auto;
}


/*Responsividade*/
@media (max-width: 1352px) {
    .textfield > input,
    .btn-login,
    .btn-cadastro {
        max-width: 100%; 
    }
}

@media (max-width: 768px) {
    .left-login,
    .right-login {
        width: 100%;
    }

    .btn-login,
    .btn-cadastro,
    .textfield > input {
        width: 80%;
    }
}
